[Unit]
Description=Raspberry Pi LED & Power Button Service
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/listen-power-button.py
StandardOutput=journal
StandardError=journal
Restart=always
User=root

[Install]
WantedBy=multi-user.target